@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  
  

  
  --color-primary: #8A5A44;
  --color-primary-content: #6B625A;
  --color-secondary: #1F1B17;
  

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  background-color:  ;
  padding-top: 20px
}